<% title 'Account Settings' %>
<% noindex %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="listing-wrapper">

         <h1>Account Settings</h1>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multiple: true }) do |f| %>
            <%= f.error_notification %>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

            <div class="form-group">
              <%= f.input :email, required: true, input_html: {class: "form-control input-sm"} %>
            </div>
            <br>
            <div class="form-group">
              <%= f.input :password, label: 'New Password', autocomplete: "off", required: true, input_html: {class: "form-control input-sm"} %>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation, label: 'New Password Confirmation', required: true, input_html: {class: "form-control input-sm"} %>
            </div>
            <div class="form-group">
              <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: {class: "form-control input-sm"} %>
            </div>

            <div class="form-group">
              <%= f.button :submit, "Save Changes", class: "btn btn-primary" %>
            </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      </div>
    </div> 
    <div class="col-md-3 right-sidebar">

    </div>
  </div>
</div>
