<div class="container">

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Processing time:</strong>
  <%= @listing.processing_time %>
</p>

<p>
  <strong>View count:</strong>
  <%= @listing.view_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @listing.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @listing.subcategory %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

</div>